* linguist-detectable=false

*.sp linguist-detectable=true
*.sp linguist-language=Spice
*.spice linguist-detectable=true
*.spice linguist-language=Spice
*.cir linguist-detectable=true
*.cir linguist-language=Spice
